extends layout

block head
  title Add URL

block content
  h1 Add URL
  
  form(method='post', action='/add-url')
    table
      tr
        td
          label(for='url') URL:
        td
          input#url(type='text', name='url', value=`${url}`)
      tr
        td
          label(for='shortURL') Short URL:
        td
          input#shortURL(type='text', name='shortURL', value=`${shortURL}`)
      tr
        td(colspan='4')
          button(type='submit')  Create 